image: python:3.7

variables:
  POETRY_HOME: /etc/poetry
  # if cache is not already set for the branch, use the develop cache for
  # retrieving poetry.lock
  CACHE_FALLBACK_KEY: develop-protected

# Trigger the pipeline on develop/main branches and all MRs (except develop merge to main)
workflow:
  rules:
    - if: '$CI_COMMIT_BRANCH == "develop"'
    - if: '$CI_COMMIT_BRANCH == "main"'
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_SOURCE_BRANCH_NAME != "develop"'
    - if: '$CI_PIPELINE_SOURCE == "web"'
    - if: '$CI_COMMIT_TAG'

stages:
  - setup
  - test
  - publish

# Define a default cache using CACHE_KEY variable
cache: &default_cache
  key: $CI_COMMIT_REF_NAME
  paths:
    - poetry.lock
    - .venv
  policy: pull

# Define reusable scripts
.prepare_poetry_env: &prepare_poetry_env
  - curl -sSL https://install.python-poetry.org | python3 -
  - export PATH=$PATH:$POETRY_HOME/bin
  - poetry --version
  - poetry env use python3.7
  - poetry env info

.install_gcc: &install_gcc
  - DEBIAN_FRONTEND=noninteractive apt-get update
  - DEBIAN_FRONTEND=noninteractive apt-get install -y gcc g++

.install_doc_packages: &install_doc_packages
  - DEBIAN_FRONTEND=noninteractive apt update
  - DEBIAN_FRONTEND=noninteractive apt install -y graphviz

# ------- Jobs declaration --------

# Set up cache for all pipeline jobs
setup_cache:
  stage: setup
  tags:
    - docker-cache
  cache:
    <<: *default_cache
    policy: pull-push
  script:
    - *prepare_poetry_env
    - poetry install -E optional -E hf-translator -E docs
    - source .venv/bin/activate
    - pip list
  artifacts:
    expose_as: "Poetry lock file"
    paths:
      - poetry.lock
  interruptible: true

update_cache:
  stage: .pre
  tags:
    - docker-cache
  cache:
    <<: *default_cache
    policy: pull-push
  script:
    - *prepare_poetry_env
    - poetry update
  rules:
    - changes:
      - pyproject.toml

.use_cache:
  tags:
    - docker-cache
  needs: [setup_cache]
  cache: *default_cache

# Declare testing jobs

linting:
  stage: test
  extends: .use_cache
  before_script:
    - source .venv/bin/activate
    - pre-commit install
  script:
    - echo "Executing linting..."
    - pre-commit run --all-files
  rules:
    - if: '$CI_COMMIT_TAG'
      when: never
    - when: always
  interruptible: true

unit_tests:
  stage: test
  extends: .use_cache
  before_script:
    - *install_gcc
    - source .venv/bin/activate
  script:
    - echo "Executing unit tests..."
    - coverage run -m pytest -v --junit-xml=report.xml tests/unit
    - coverage report
    - coverage xml
  coverage: '/^TOTAL.+?(\d+\%)$/'
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
      junit: report.xml
  rules:
    - if: '$CI_COMMIT_TAG'
      when: never
    - when: always
  interruptible: true

# TODO: activate weekly job to verify non-regression ?
large_tests:
  stage: test
  extends: .use_cache
  before_script:
    - source .venv/bin/activate
  script:
    - echo "Executing large tests..."
    - pytest -v tests/large
  rules:
    - when: never
  interruptible: true

doc-test:
  stage: test
  extends: .use_cache
  before_script:
    - *install_doc_packages
    - source .venv/bin/activate
  script:
    - echo "Building docs..."
    - jb build docs
    - mv docs/_build/jupyter_execute .
    - mv docs/_build/html test
  artifacts:
    expose_as: "Docs"
    paths:
      - test
  rules:
    - if: '$CI_COMMIT_TAG'
      when: never
    - when: always
  interruptible: true


# Declare release jobs
release:
  stage: publish
  extends: .use_cache
  script:
    - *prepare_poetry_env
    - poetry build
    - poetry config repositories.gitlab "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/pypi"
    - poetry publish -r gitlab -u gitlab-ci-token -p ${CI_JOB_TOKEN}
  rules:
    - if: '$CI_COMMIT_TAG'

doc-release:
  stage: publish
  extends: .use_cache
  before_script:
    - *install_doc_packages
    - source .venv/bin/activate
  script:
    - jb build docs
    - mv docs/_build/jupyter_execute .
    - mv docs/_build/html public
  artifacts:
    paths:
      - public
  rules:
    - if: '$CI_COMMIT_TAG'
    - if: '$CI_COMMIT_BRANCH =~ /^release-*/'
      when: manual
