# Trigger the pipeline on develop/main branches and all MRs (except develop merge to main)
workflow:
  rules:
    - if: '$CI_COMMIT_BRANCH == "develop"'
    - if: '$CI_COMMIT_BRANCH == "main"'
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_SOURCE_BRANCH_NAME != "develop"'
    - if: '$CI_PIPELINE_SOURCE == "web"'
    - if: '$CI_COMMIT_TAG'

stages:
  - test
  - publish

# Declare common job configurations
.medkit-jobs:
  image: condaforge/mambaforge
  before_script:
    - apt update
    - apt install -y gcc g++
    - mamba env create -f environment.yml
    - source /opt/conda/bin/activate
    - conda init bash
    - source ~/.bashrc
    - conda activate medkit
  interruptible: true

.medkit-docs-jobs:
  tags:
    - linux
  image: condaforge/mambaforge
  before_script:
    - DEBIAN_FRONTEND=noninteractive apt update
    - DEBIAN_FRONTEND=noninteractive apt install -y graphviz
    - mamba env create -f docs/environment.yml
    - source /opt/conda/bin/activate
    - conda init bash
    - source ~/.bashrc
    - conda activate medkit-docs
  interruptible: true

# Declare test jobs
linting:
  extends: .medkit-jobs
  stage: test
  script:
    - echo "Executing linting..."
    - flake8 .
    - black --check .
  rules:
    - if: '$CI_COMMIT_TAG'
      when: never
    - when: always

unit_tests:
  extends: .medkit-jobs
  stage: test
  script:
    - echo "Executing unit tests..."
    - coverage run -m pytest -v --junit-xml=report.xml tests/unit
    - coverage report
    - coverage xml
  coverage: '/^TOTAL.+?(\d+\%)$/'
  artifacts:
    reports:
      cobertura: coverage.xml
      junit: report.xml
  rules:
    - if: '$CI_COMMIT_TAG'
      when: never
    - when: always

# TODO: activate weekly job to verify non-regression ?
large_tests:
  extends: .medkit-jobs
  stage: test
  script:
    - echo "Executing large tests..."
    - pytest -v tests/large
  rules:
    - when: never

# Declare release jobs
release:
  extends: .medkit-jobs
  stage: publish
  script:
    - pip install build
    - pip install twine
    - python -m build
    - TWINE_PASSWORD=${CI_JOB_TOKEN} TWINE_USERNAME=gitlab-ci-token python -m twine upload --repository-url ${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/pypi dist/*
  rules:
    - if: '$CI_COMMIT_TAG'

# Declare documentation jobs
doc-test:
  extends: .medkit-docs-jobs
  stage: test
  script:
    - jb build docs
    - mv docs/_build/jupyter_execute .
    - mv docs/_build/html test
  artifacts:
    paths:
      - test
  rules:
    - if: '$CI_COMMIT_TAG'
      when: never
    - when: always

doc-release:
  extends: .medkit-docs-jobs
  stage: test
  script:
    - jb build docs
    - mv docs/_build/jupyter_execute .
    - mv docs/_build/html public
  artifacts:
    paths:
      - public
  rules:
    - if: '$CI_COMMIT_TAG'
