flashtext
pyaml
requests
smart_open
typing-extensions
Unidecode

# hf-translator
torch
transformers[sentencepiece]

# other optional dependencies
packaging # needed to check quickumls version
quickumls
PyRuSH
spacy

# dev dependencies
black
flake8
pytest
pytest-cov
pytest-mock

