flashtext
pyaml
requests
smart_open
typing-extensions
Unidecode

# optional dependencies
quickumls
six # needed for quickumls, workaround for https://github.com/Georgetown-IR-Lab/QuickUMLS/pull/80
PyRuSH
spacy

# dev dependencies
black
flake8
pytest
pytest-cov
pytest-mock
