# Book settings
# Learn more at https://jupyterbook.org/customize/config.html

title: medkit
author: HeKA Research Team
copyright: "2022"
logo: img/medkit_logo.png

# Force re-execution of notebooks on each build.
# See https://jupyterbook.org/content/execute.html
execute:
  execute_notebooks: auto
  stderr_output: error
  raise_on_error: true

# Define the name of the latex output file for PDF builds
latex:
  latex_documents:
    targetname: book.tex

# Information about where the book exists on the web
repository:
  url: https://github.com/TeamHeka/medkit  # Online location of your book
  path_to_book: docs  # Optional path to your book, relative to the repository root
  branch: main  # Which branch of the repository should be used when creating links (optional)

# Add buttons to your book
# See https://jupyterbook.org/customize/config.html#add-a-link-to-your-repository
html:
  use_issues_button: true
  use_repository_button: true
  extra_navbar: ""
  extra_footer: 'Contact: <a href="mailto:medkit-maintainers@inria.fr">medkit-maintainers@inria.fr</a>'

# Add sphinx configuration options
sphinx:
  config:
    add_module_names: False
    language: en
    autoclass_content: 'both'
    autodoc_typehints: 'both'
    autodoc_typehints_description_target: 'documented'
    autodoc_typehints_format: 'short'
    autodoc_inherit_docstrings: False
    autodoc_member_order: 'bysource'
    autodoc_mock_imports:
      - resampy
      - torch
      - torchaudio
      - transformers
      - quickumls
      - pandas
      - PyRuSH
      - spacy
      - speechbrain
      - pyannote.audio
    autosummary_ignore_module_all: False
    execution_show_tb: True
    # napoleon extension config
    napoleon_use_ivar: True
    napoleon_use_param: True
    napoleon_use_rtype: False
    napoleon_attr_annotations: True
    templates_path: ["_templates"]
    suppress_warnings: ["etoc.toctree", "myst.domains"]
    exclude_patterns: ["_build", "_templates"]
  extra_extensions:
  - 'sphinx.ext.autodoc'
  - 'sphinx.ext.autosummary'
  - 'sphinx.ext.napoleon'
  - 'sphinx.ext.viewcode'
  - 'sphinx_toolbox.more_autosummary'
  - 'sphinx_toolbox.more_autodoc.typehints'
  - 'sphinxcontrib.mermaid'
